/* 代码无效 696 */
.c_b .c_b_a .right{
    width: 100%;
    height: 100%;
}
.right .right_list .seckill_list .silder {
    width: 255px;
}
.silder_list{
    width: 255px;
    height: 110px;
    margin-left: 23px;
    overflow: hidden;
}

.right .right_list .seckill_list .silder 
.silder_list .silder_wapper{
    /* opacity: 1;
    width: 2210px;
    transform: translate3d(-255px, 0px, 0px); */
    transition: none 0s ease 0s;
}
.right .right_list .seckill_list .silder 
.silder_list .silder_wapper .silder_item{
    float: left;
    width: 85px;
    height: 94px;
    position: relative;
    margin: 4px auto;
    min-height: 1px;
}
.silder_item .img{
    margin-top: 8px;
    width: 77px;
    height: 77px;
    background-color: #FAFAFA;
    transition: background .2s linear,opacity .2s linear!important;
    background: transparent;
    position: relative;
    overflow: hidden;
}
.silder_item .img img{
    border: 0;
    vertical-align: middle;
    width: 77px;
    height: 77px;
}
/* 代码无效 */