/* 页面默认样式 */
body {
    -webkit-font-smoothing: antialiased;
    background-color: #ffffff;
    font: 12px / 1.5 Microsoft YaHei, Heiti SC, tahoma, arial, Hiragino Sans GB, "\5B8B\4F53", sans-serif;
    color: #666;
}
*{
    margin: 0;
    padding: 0;
}
.display_block{
    display: block;
}
.display_none{
    display: none;
}
/* 京东字体文件 */
@font-face {
font-family: iconfont;
src: url(../TTF/jd-zt.ttf);
}
.iconfont {
    font-family: iconfont,sans-serif;
    font-style: normal;
    -webkit-text-stroke-width: .2px;
    -moz-osx-font-smoothing: grayscale
}
/* 头块属性 */
.header{
    /* #fff; */
    /* background: rgb(255, 2, 2); */
    border-bottom: 1px solid #ddd;
}
:root{

}
/* 头顶部 */
.header_h{
    --header-h-height:30px;
    width: 100%;
    height: var(--header-h-height);
    background-color: #e3e4e5;
}
/* 头顶部内容区域 */
.header_h_txt{
    width: 80%;
    height: var(--header-h-height);
    margin-left: 10%;
    background-color: #e3e4e5;
    line-height: 30px;
    color: #999;
    /* display: table; */
    float: left;
}
/* ul_li取消默认点属性 */
ul,li{
    list-style: none;
}
/* 头顶部定位模块区域 */
.header_h_txt .dw{
    list-style: none;
    /* display: table-cell; */
    width: 50px;
    float: left;
    margin-right: 10px;
}
.header_h_txt .dw .dw_icon{
    color: #e1251b;
}
.header_h_txt .dw .city{
    float: right;
    margin-right: 10px;
}
/* 头顶部切换企业区域 */
.header_h_txt .qhqy{
    width: 60px;
    float: left;
}
/* 头顶部右边主菜单 */
.header_h_txt .rmain{
    float: right;
    position: relative;
}
.header_h_txt .rmain span{
    margin-left: 2px;
    margin-right: 2px;
}
.header_h_txt .rmain span:hover{
    color: rgb(255, 0, 0);
}
.header_h_txt .rmain .iconfont{
    position: absolute;
    right: 5px;
    width: 12px;
    height: 12px;
    top: 10px;
    line-height: 12px;
}
.header_h_txt .rmain .login,
.header_h_txt .rmain .My_Dd,
.header_h_txt .rmain .My_Main{
    float: left;
    position: relative;
}
/* 头顶部右主菜单间隔样式 */
.aa::after {
    content: " | ";
    display: inline-block;
    white-space: pre;
}
.My_JD{
    display: none;
    width: 280px;
    position: absolute;
    height: 100px;
    background-color: #c10a00;
    border: 1px solid #ccc;
    z-index: 100;
    top: 30px;
    left: 0;
}

/* header主要内容区域  */
.header_s{
    position: relative;
    z-index: 10;
    height: 140px;
    width: 80%;
    /* background-color: aqua; */
    margin-left: 10%;
}
.logo{
    width: 190px;
    height: 120px;
    background-color: #666;
    position: relative;
    top: 10px;
    z-index: 1;
}
/* .logo_i{
    
} */
.search{
    position: absolute;
    width: 480px;
    height: 32px;
    /* background-color: black; */
    left: 200px;
    top: 20px;
    border: 2px solid red;
}
.search_from{
    position: relative;
    width: 480px;
    height: 32px;
}
.search_from input{
    padding: 2px 44px 2px 17px;
    /* line-height: 8px; */
    width: 361px;
    position: relative;
    height: 28px;
    /* outline: none; */
    border: 0;
}
/* 取消input默认点击样式 */
input:focus{
    outline: none;
}
/* 搜索框搜索按钮 */
.search_from .button{
    position: absolute;
    width: 58px;
    height: 32px;
    top: 0px;
    right: 0;
    background-color: #e1251b;
    border: 0;
    color: white;
    cursor: pointer;
    transition: background-color .2s ease;
}
/* 搜索框搜索按钮点击样式 */
.search_from .button:hover{
    background-color:  #c10a00;
}
/* 购物车显示 */
.shop_car{
    background-color: azure;
    width: 130px;
    height: 34px;
    position:absolute;
    top: 0px;
    left: 500px;
    border: 1px solid #e3e4e5;
    
}
/* 购物车图标显示 */
.shop_car .shop_icon{
    width: 130px;
    height: 34px;
    background-color: #fff;
    text-align: center;
    line-height: 34px;
    border-color: #eee;
    color: #e1251b;
}
.shop_icon a{
    color: #e1251b;
}
a {
    color: #666;
    text-decoration: none;
}


.header_s .navitems{
    position: absolute;
    /* background-color: rgb(0, 255, 68); */
    left: 203px;
    bottom: 0;
    width: auto;
    height: 40px;
}
.header_s .navitems ul,.header_s .navitems li{
    float: left;
}
.header_s .navitems .navitems_group1 li a{
    position: relative;
    display: block;
    height: 40px;
    line-height: 40px;
    font-size: 15px;
    color: #333;
    margin: 0 11px;
    -webkit-transition: color .2s ease;
    transition: color .2s ease;
}
.header_s .navitems .navitems_group1 li a:hover{
    color: rgb(255, 0, 0);
}
.header_main{
    --header-main-height:480px;
    position: relative;
    z-index: 100;
    width: 90%;
    /* background-color: #c10a00; */
    margin: 0 auto;
    height: 480px;
    top: 10px;
}

.header_main 
.header_main_a,
.header_main 
.header_main_b{
    margin-right: 10px;
}
.header_main 
.header_main_a {
    position: relative;
    width: 190px;
    height: 480px;
    /* background-color: #666; */
    float: left;
}
.header_main 
.header_main_b {
    float: left;
    width: 590px;
    height: 480px;
    background-color: #06c100;
}
.header_main 
.header_main_c {
    /* float: right;
    width: 120px;
    height: 480px;
    background-color: #06c100; */
    float: left;
    width: 390px;
    height: 480px;
    background-color: #06c100;
}
.header_main_a_left{
    position: relative;
    z-index: 3;
}
.header_main_a_left 
.left_main{
    overflow: hidden;
    padding: 10px 0;
    height: 450px;
    background-color: #fefefe;
    color: #636363;
    margin-top: 10px;
}
.header_main_a_left 
.left_main 
.left_main_li{
    height: 25px;
    line-height: 25px;
    overflow: hidden;
    padding-left: 18px;
}
.header_main_a_left 
.left_main 
.left_main_li 
.left_main_li_a{
    font-size: 14px;
    color: #333;
    -webkit-transition: color .2s ease;
    transition: color .2s ease;
}
.header_main_a_left .left_main 
.left_main_li a:hover{
    color: rgb(255, 0, 0);
}
.header_main_b_m{
    width: 100%;
    display: inline-block;
    position: relative;
}
.header_main_b_m .b_left{
    position: relative;
    display: inline-block;
    margin-right: 10px;
    width: 590px;
    /* height: 480px; */
}
.header_main_b_m .b_left .bu{
    position: absolute;
    top: 50%;
    width: 25px;
    height: 35px;
    line-height: 35px;
    background-color: rgba(0,0,0,.15);
    margin-top: -20px;
    font-size: 20px;
    z-index: 2;
    border: none;
}
.header_main_b_m .b_left .left_bu{
    transition: background-color .2s ease;
    left: 0;
    border-top-right-radius: 18px;
    border-bottom-right-radius: 18px;
}
.header_main_b_m .b_left .left_bu:hover,
.header_main_b_m .b_left .float_bu:hover{
    background-color: rgba(0,0,0,.25);
    cursor: pointer;
}
.header_main_b_m .b_left .float_bu{
    transition: background-color .2s ease;
    right: 0;
    border-top-left-radius: 18px;
    border-bottom-left-radius: 18px;
}
.header_main_b_m .b_left{
    width: 590px;
    margin-right: 10px;
    float: left;
    overflow: hidden;
}
.header_main_b_m .b_left .b_left_png img{
    width: 590px;
    height: 480px;

}

/* 以下代码废弃 */
.header_main_b_m .b_float{
    background-color: #0044c1;
    width: 190px;
    /* float: left; */
    overflow: hidden;
    position: relative;
    height: 480px;
}

.header_main_b_m .b_float .b_float_a,
.header_main_b_m .b_float .b_float_b,
.header_main_b_m .b_float .b_float_c{
    position: relative;
    width: 190px;
    height: 150px;
    margin-bottom: 10px;
    background-color: #c10a00;
}
.header_main_b_m .b_float .b_float_a{
    margin-top: 5px;
}
.header_main_b_m .b_float .b_float_a .a_img img,
.header_main_b_m .b_float .b_float_b .b_img img,
.header_main_b_m .b_float .b_float_c .c_img img
{
    width: 190px;
    height: 150px;
}
.header_main_b_m .b_float .b_float_b{
}
.header_main_b_m .b_float .b_float_b .b_img{}
.header_main_b_m .b_float .b_float_c{
    margin-bottom: 0px;
}
.header_main_b_m .b_float .b_float_c .c_img{}

.header_main_c .c_a,
.header_main_c .c_b,
.header_main_c .c_c
{
    width: 390px;
    background-color: aqua;
    height: 96px;
    margin-bottom: 10px;
    /* margin-top: 5px;*/
}
.header_main_c .c_a{

    /* background-color: aqua;
    height: 96px; */
    /* margin-bottom: 10px; */
    /* margin-top: 5px;*/
    margin-top: 10px;
    height: 96px;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.header_main_c .c_b{

    background-color: aqua;
    height: 230px;
    margin-bottom: 10px;
}
.header_main_c .c_b .c_b_a,
.header_main_c .c_b .c_b_b
{
    width: 390px;
    background-color: #455151;
    height: 110px;
    margin-bottom: 10px;
}

.header_main_c .c_c{

    background-color: aqua;
    height: 124px;
    margin-bottom: 10px;
}
.c_a{

}
.c_a .c_a_login{
    width: 126px;
    height: 96px;
    /* background-color: #0044c1; */
}
.c_a .c_a_login .user_aver{
    width: 28px;
    height: 28px;
    margin: 0 auto;
    display: block;
    position: relative;
}
.c_a .c_a_login .user_aver img{
    position: absolute;
    top: 14px;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    z-index: 3;
}
.c_a .c_a_login .user_txt{
    margin: 20px 0 8px;
}
.c_a .c_a_login .user_txt .welcome,
.c_a .c_a_login .user_txt .login_true
{
    width: 100%;
    text-align: center;
    font-family: PingFang SC;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: #666666;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.c_a .c_a_login .user_txt .login_true{
}
.c_a_vip{
    width: 264px;
    height: 96px;
    position: relative;
    /* background-color: #c10a00; */
}
.c_a_vip .plus_vip{
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    width: 124px;
    height: 80px;
    margin-top: 8px;
    background: url(https://img13.360buyimg.com/imagetools/jfs/t1/243283/27/4852/32098/65d55ce7F03779151/bf76bb8bea4bb598.png);
    background-size: cover;
    border-radius: 4px;
}
.c_a_vip .qy_vip{
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    width: 124px;
    height: 80px;
    margin-top: 8px;
    right: 8px;
    background: url(https://img13.360buyimg.com/imagetools/jfs/t1/108709/16/48137/30997/65d55ceaF2d7e7476/0ecc9c553a63b99b.png);
    background-size: cover;
    border-radius: 4px;
}
.c_a_vip .plus_vip .title{
    margin-top: 10px;
    margin-left: 8px;
    color: #663300;
    font-weight: 600;
    font-size: 13px;
}
.c_a_vip .plus_vip .plus_txt{
    margin-left: 8px;
    margin-top: 2px;
    color: #A88100;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.c_a_vip .plus_vip .user_array{
    margin-left: 8px;
    margin-top: 10px;
    font-size: 11px;
    font-weight: 400;
    color: #663300;
}
.c_a_vip .plus_vip .user_array i{
    display: inline-block;
    width: 8px;
    height: 8px;
    background: url(https://img14.360buyimg.com/imagetools/jfs/t1/198502/15/37728/408/64b11b21F4ae4484f/f561264688794c51.png);
    background-size: 100% 100%;
    margin-left: 2px;
    font-style: normal;
}