/* 页面默认样式 */
body {
    -webkit-font-smoothing: antialiased;
    /* background-color: #ffffff; */
    font: 12px / 1.5 Microsoft YaHei, Heiti SC, tahoma, arial, Hiragino Sans GB, "\5B8B\4F53", sans-serif;
    color: #666;
    background-color: #f4f4f4;
}
*{
    margin: 0;
    padding: 0;
}
.display_block{
    display: block;
}
.display_none{
    display: none;
}
/* 京东字体文件 */
@font-face {
font-family: iconfont;
src: url(../TTF/jd-zt.ttf);
}
.iconfont {
    font-family: iconfont,sans-serif;
    font-style: normal;
    -webkit-text-stroke-width: .2px;
    -moz-osx-font-smoothing: grayscale
}
/* 头块属性 */
.header{
    /* #fff; */
    background: rgb(255, 255, 255);
    border-bottom: 1px solid #ddd;
}
:root{

}
/* 头顶部 */
.header_h{
    --header-h-height:30px;
    width: 100%;
    height: var(--header-h-height);
    background-color: #e3e4e5;
}
/* 头顶部内容区域 */
.header_h_txt{
    width: 80%;
    height: var(--header-h-height);
    margin-left: 10%;
    background-color: #e3e4e5;
    line-height: 30px;
    color: #999;
    /* display: table; */
    float: left;
}
/* ul_li取消默认点属性 */
ul,li{
    list-style: none;
}
/* 头顶部定位模块区域 */
.header_h_txt .dw{
    list-style: none;
    /* display: table-cell; */
    width: 50px;
    float: left;
    margin-right: 10px;
}
.header_h_txt .dw .dw_icon{
    color: #e1251b;
}
.header_h_txt .dw .city{
    float: right;
    margin-right: 10px;
}
/* 头顶部切换企业区域 */
.header_h_txt .qhqy{
    width: 60px;
    float: left;
}
/* 头顶部右边主菜单 */
.header_h_txt .rmain{
    float: right;
    position: relative;
}
.header_h_txt .rmain span{
    margin-left: 2px;
    margin-right: 2px;
}
.header_h_txt .rmain span:hover{
    color: rgb(255, 0, 0);
}
.header_h_txt .rmain .iconfont{
    position: absolute;
    right: 5px;
    width: 12px;
    height: 12px;
    top: 10px;
    line-height: 12px;
}
.header_h_txt .rmain .login,
.header_h_txt .rmain .My_Dd,
.header_h_txt .rmain .My_Main{
    float: left;
    position: relative;
}
/* 头顶部右主菜单间隔样式 */
.aa::after {
    content: " | ";
    display: inline-block;
    white-space: pre;
}
.My_JD{
    display: none;
    width: 280px;
    position: absolute;
    height: 100px;
    background-color: #c10a00;
    border: 1px solid #ccc;
    z-index: 100;
    top: 30px;
    left: 0;
}

/* header主要内容区域  */
.header_s{
    position: relative;
    z-index: 10;
    height: 140px;
    width: 80%;
    /* background-color: aqua; */
    margin-left: 10%;
}
.logo{
    width: 190px;
    height: 120px;
    background-color: #666;
    position: relative;
    top: 10px;
    z-index: 1;
}
/* .logo_i{
    
} */
.search{
    position: absolute;
    width: 480px;
    height: 32px;
    /* background-color: black; */
    left: 200px;
    top: 20px;
    border: 2px solid red;
}
.search_from{
    position: relative;
    width: 480px;
    height: 32px;
}
.search_from input{
    padding: 2px 44px 2px 17px;
    /* line-height: 8px; */
    width: 361px;
    position: relative;
    height: 28px;
    /* outline: none; */
    border: 0;
}
/* 取消input默认点击样式 */
input:focus{
    outline: none;
}
/* 搜索框搜索按钮 */
.search_from .button{
    position: absolute;
    width: 58px;
    height: 32px;
    top: 0px;
    right: 0;
    background-color: #e1251b;
    border: 0;
    color: white;
    cursor: pointer;
    transition: background-color .2s ease;
}
/* 搜索框搜索按钮点击样式 */
.search_from .button:hover{
    background-color:  #c10a00;
}
/* 购物车显示 */
.shop_car{
    background-color: azure;
    width: 130px;
    height: 34px;
    position:absolute;
    top: 0px;
    left: 500px;
    border: 1px solid #e3e4e5;
    
}
/* 购物车图标显示 */
.shop_car .shop_icon{
    width: 130px;
    height: 34px;
    background-color: #fff;
    text-align: center;
    line-height: 34px;
    border-color: #eee;
    color: #e1251b;
}
.shop_icon a{
    color: #e1251b;
}
a {
    color: #666;
    text-decoration: none;
}


.header_s .navitems{
    position: absolute;
    /* background-color: rgb(0, 255, 68); */
    left: 203px;
    bottom: 0;
    width: auto;
    height: 40px;
}
.header_s .navitems ul,.header_s .navitems li{
    float: left;
}
.header_s .navitems .navitems_group1 li a{
    position: relative;
    display: block;
    height: 40px;
    line-height: 40px;
    font-size: 15px;
    color: #333;
    margin: 0 11px;
    -webkit-transition: color .2s ease;
    transition: color .2s ease;
}
.header_s .navitems .navitems_group1 li a:hover{
    color: rgb(255, 0, 0);
}
.header_main{
    --header-main-height:480px;
    position: relative;
    z-index: 100;
    width: 1190px;
    /* background-color: #c10a00; */
    margin: 0 auto;
    height: 480px;
    top: 10px;
}

.header_main 
.header_main_a,
.header_main 
.header_main_b{
    margin-right: 10px;
}
.header_main 
.header_main_a {
    position: relative;
    width: 190px;
    height: 480px;
    /* background-color: #666; */
    float: left;
}
.header_main 
.header_main_b {
    float: left;
    width: 590px;
    height: 480px;
    /* background-color: #06c100; */
}
.header_main 
.header_main_c {
    /* float: right;
    width: 120px;
    height: 480px;
    background-color: #06c100; */
    float: left;
    width: 390px;
    height: 480px;
    /* background-color: #06c100; */
}
.header_main_a_left{
    position: relative;
    z-index: 3;
}
.header_main_a_left 
.left_main{
    overflow: hidden;
    padding: 10px 0;
    height: 450px;
    background-color: #fefefe;
    color: #636363;
    margin-top: 10px;
}
.header_main_a_left 
.left_main 
.left_main_li{
    height: 25px;
    line-height: 25px;
    overflow: hidden;
    padding-left: 18px;
}
.header_main_a_left 
.left_main 
.left_main_li 
.left_main_li_a{
    font-size: 14px;
    color: #333;
    -webkit-transition: color .2s ease;
    transition: color .2s ease;
}
.header_main_a_left .left_main 
.left_main_li a:hover{
    color: rgb(255, 0, 0);
}
.header_main_b_m{
    width: 100%;
    display: inline-block;
    position: relative;
}
.header_main_b_m .b_left{
    position: relative;
    display: inline-block;
    margin-right: 10px;
    width: 590px;
    /* height: 480px; */
}
.header_main_b_m .b_left .bu{
    position: absolute;
    top: 50%;
    width: 25px;
    height: 35px;
    line-height: 35px;
    background-color: rgba(0,0,0,.15);
    margin-top: -20px;
    font-size: 20px;
    z-index: 2;
    border: none;
}
.header_main_b_m .b_left .left_bu{
    transition: background-color .2s ease;
    left: 0;
    border-top-right-radius: 18px;
    border-bottom-right-radius: 18px;
}
.header_main_b_m .b_left .left_bu:hover,
.header_main_b_m .b_left .float_bu:hover{
    background-color: rgba(0,0,0,.25);
    cursor: pointer;
}
.header_main_b_m .b_left .float_bu{
    transition: background-color .2s ease;
    right: 0;
    border-top-left-radius: 18px;
    border-bottom-left-radius: 18px;
}
.header_main_b_m .b_left{
    width: 590px;
    margin-right: 10px;
    float: left;
    overflow: hidden;
}
.header_main_b_m .b_left .b_left_png img{
    width: 590px;
    height: 480px;

}

/* 以下代码废弃 */
.header_main_b_m .b_float{
    background-color: #0044c1;
    width: 190px;
    /* float: left; */
    overflow: hidden;
    position: relative;
    height: 480px;
}

.header_main_b_m .b_float .b_float_a,
.header_main_b_m .b_float .b_float_b,
.header_main_b_m .b_float .b_float_c{
    position: relative;
    width: 190px;
    height: 150px;
    margin-bottom: 10px;
    background-color: #c10a00;
}
.header_main_b_m .b_float .b_float_a{
    margin-top: 5px;
}
.header_main_b_m .b_float .b_float_a .a_img img,
.header_main_b_m .b_float .b_float_b .b_img img,
.header_main_b_m .b_float .b_float_c .c_img img
{
    width: 190px;
    height: 150px;
}
.header_main_b_m .b_float .b_float_b{
}
.header_main_b_m .b_float .b_float_b .b_img{}
.header_main_b_m .b_float .b_float_c{
    margin-bottom: 0px;
}
.header_main_b_m .b_float .b_float_c .c_img{}

/* ************************************* */

.header_main_c .c_a,
.header_main_c .c_b,
.header_main_c .c_c
{
    width: 390px;
    /* background-color: aqua; */
    height: 96px;
    margin-bottom: 10px;
    
    /* margin-top: 5px;*/
}
.header_main_c .c_a{

    /* background-color: aqua;
    height: 96px; */
    /* margin-bottom: 10px; */
    /* margin-top: 5px;*/
    margin-top: 10px;
    height: 96px;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.header_main_c .c_b{

    /* background-color: aqua; */
    height: 230px;
    margin-bottom: 10px;
}
.header_main_c .c_b .c_b_a,
.header_main_c .c_b .c_b_b
{
    /* width: 390px;
    background-color: #455151;
    height: 110px;
    margin-bottom: 10px; */
    width: 390px;
    height: 110px;
    margin-top: 10px;
    background: #fff;
}

.header_main_c .c_c{

    background-color: aqua;
    height: 124px;
    margin-bottom: 10px;
}

.c_a .c_a_login{
    width: 126px;
    height: 96px;
    /* background-color: #0044c1; */
}
.c_a .c_a_login .user_aver{
    width: 28px;
    height: 28px;
    margin: 0 auto;
    display: block;
    position: relative;
}
.c_a .c_a_login .user_aver img{
    position: absolute;
    top: 14px;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    z-index: 3;
}
.c_a .c_a_login .user_txt{
    margin: 20px 0 8px;
}
.c_a .c_a_login .user_txt .welcome,
.c_a .c_a_login .user_txt .login_true
{
    width: 100%;
    text-align: center;
    font-family: PingFang SC;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: #666666;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.c_a .c_a_login .user_txt .login_true{
}
.c_a_vip{
    width: 264px;
    height: 96px;
    position: relative;
    /* background-color: #c10a00; */
}
.c_a_vip .plus_vip{
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    width: 124px;
    height: 80px;
    margin-top: 8px;
    background: url(https://img13.360buyimg.com/imagetools/jfs/t1/243283/27/4852/32098/65d55ce7F03779151/bf76bb8bea4bb598.png);
    background-size: cover;
    border-radius: 4px;
}
.c_a_vip .qy_vip{
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    width: 124px;
    height: 80px;
    margin-top: 8px;
    right: 8px;
    background: url(https://img13.360buyimg.com/imagetools/jfs/t1/108709/16/48137/30997/65d55ceaF2d7e7476/0ecc9c553a63b99b.png);
    background-size: cover;
    border-radius: 4px;
}
.c_a_vip .plus_vip .title{
    margin-top: 10px;
    margin-left: 8px;
    color: #663300;
    font-weight: 600;
    font-size: 13px;
}
.c_a_vip .plus_vip .plus_txt{
    margin-left: 8px;
    margin-top: 2px;
    color: #A88100;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.c_a_vip .plus_vip .user_array{
    margin-left: 8px;
    margin-top: 10px;
    font-size: 11px;
    font-weight: 400;
    color: #663300;
}
.c_a_vip .plus_vip .user_array i{
    display: inline-block;
    width: 8px;
    height: 8px;
    background: url(https://img14.360buyimg.com/imagetools/jfs/t1/198502/15/37728/408/64b11b21F4ae4484f/f561264688794c51.png);
    background-size: 100% 100%;
    margin-left: 2px;
    font-style: normal;
}
.c_a_vip .qy_vip .title{
    margin-top: 10px;
    margin-left: 8px;
    color: #054180;
    font-weight: 600;
    font-size: 13px;
}
.c_a_vip .qy_vip .plus_txt{
    color: #3369a5;
    width: 100px;
    margin-left: 8px;
    margin-top: 2px;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.c_a_vip .qy_vip .user_array{
    margin-left: 8px;
    margin-top: 10px;
    font-size: 11px;
    font-weight: 400;
    color: #054180;
}
.c_a_vip .qy_vip .user_array i{
    display: inline-block;
    width: 8px;
    height: 8px;
    background: url(https://img13.360buyimg.com/imagetools/jfs/t1/88841/16/21411/380/65d32b19Ff7526b51/da740dd9f0d61b32.png);
    background-size: 100% 100%;
    margin-left: 2px;
}

.c_b .c_b_a .seckill,
.cheap{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 100%;
    position: relative;
}
.c_b .c_b_a .seckill .lift{
    width: 97px;
    height: 100%;
}
.c_b .c_b_a .seckill .lift .lift_cound{
    position: relative;
    margin: 8px 6px 8px 8px;
    float: left;
    width: 83px;
    height: 94px;
    background: url(https://img13.360buyimg.com/imagetools/jfs/t1/179159/2/43444/4097/65d55ce7F9c9cb193/631adf4e860c1010.png);
    background-size: cover;
}
.c_b .c_b_a .seckill .lift .lift_cound{}
.c_b .c_b_a .seckill .lift .lift_cound .title{
    position: absolute;
    top: 7px;
    left: 8.5px;
    width: 63.3px;
    height: 12.5px;
    background: url(https://img12.360buyimg.com/imagetools/jfs/t1/106455/14/39541/2435/65d5ba3dFde9c1bfd/702e86daaf91d861.png);
    background-size: cover;
}
.c_b .c_b_a .seckill .lift .lift_cound .icon{
    position: absolute;
    top: 26px;
    left: 29.5px;
    width: 24px;
    height: 24px;
    background: url(https://img10.360buyimg.com/imagetools/jfs/t1/161181/16/42128/3025/65d5bb70F884567d5/9b0af44f42faedc1.png);
    background-size: cover;
}
.c_b .c_b_a .seckill .lift .lift_cound .desc{
    position: absolute;
    top: 52px;
    width: 100%;
    height: 20px;
    text-align: center;
    font-size: 12px;
    color: #333333;
}
.c_b .c_b_a .seckill .lift .lift_cound .desc .desc_cound strong{
    font-family: JDZHENGHEI;
}
.c_b .c_b_a .seckill .lift .lift_cound .desc .desc_cound{

}
.c_b .c_b_a .seckill .lift .lift_cound .desc .desc_time{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 72px;
    height: 14px;
    /* margin-top: 72px; */
    display: block;
    color: #333;
    font-weight: 700;
}
.time_m{
    position: relative;
    float: left;
    width: 16px;
    height: 14px;
    text-align: center;
    background-color: #333333;
    margin-right: 12px;
    color: white;
    font-size: 12px;
    line-height: 14px;
    border-radius: 2px;
    font-family: JDZHENGHEI;
}
.time_m_s::after{
    content: ":";
    display: block;
    position: absolute;
    right: -8px;
    font-weight: 400;
    font-size: 12px;
    width: 4px;
    height: 100%;
    top: -2px;
    color: #191919;
}
.desc_time_houer{
}
.desc_time_miunte{}
.desc_time_second{
    margin-right: 0;
}

.c_b .c_b_a .seckill .right{
    width: 293px;
    height: 110px;
    /* background-color: aliceblue; */
}
.c_b .c_b_a .seckill .right .silder{
    width: 255px;
    height: 110px;
    /* background-color: #191919; */
    /* margin: 0 auto; */
    margin-left: 23px;
}
.silder .silder_item{
    float: left;
    width: 85px;
    height: 94px;
    position: relative;
    margin: 4px auto;
    min-height: 1px;
    /* background-color: #3369a5; */
}
.silder .silder_item .img{
    margin-top: 8px;
    width: 77px;
    height: 77px;
    background-color: #FAFAFA;
    transition: background .2s linear,opacity .2s linear!important;
    background: transparent;
    position: relative;
    overflow: hidden;
}
.silder .silder_item .img img{
    width: 100%;
    height: 100%;
}
.silder .silder_item .price i{
    font-size: 7px;
    margin-right: 1px;
}
i{
    font-style: normal;
}
.silder .silder_item .price{
    margin-top: 4px;
    width: 77px;
    text-align: center;
    height: 14px;
    line-height: 14px;
    font-size: 13px;
    color: #fa193f;
    font-weight: 700;
}
.c_b_b .cheap .lift{
    width: 97px;
    height: 100%;
}
.c_b_b .cheap .lift .lift_a{
    display: block;
    margin: 8px 6px 8px 8px;
    width: 83px;
    height: 94px;
    background: url(https://img10.360buyimg.com/imagetools/jfs/t1/156950/38/39896/25927/65d45c60F03d153e3/9522a4f8db12af40.png);
    background-size: cover;
}
.c_b_b .cheap .right{
    width: 100%;
    height: 100%;
}
.c_b_b .cheap .right .silder .silder_list {
    width: 255px;
    height: 110px;
    margin-left: 23px;
}
.c_b_b .cheap .right .silder .silder_list .silder_item{
    height: 94px;
    position: relative;
    margin: 4px auto;
    min-height: 1px;
}
.c_b_b .cheap .right .silder .silder_list .silder_item .cheap-item__image{
    margin-top: 8px;
    width: 77px;
    height: 77px;
    background-color: #FAFAFA;
}
.c_b_b .cheap .right .silder .silder_list .silder_item .price{
    margin-top: 4px;
    width: 77px;
    text-align: center;
    height: 14px;
    line-height: 14px;
    font-size: 13px;
    color: #fa193f;
    font-weight: 700;
}
.c_c{
    overflow: hidden;
    position: relative;
    height: 124px;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
    margin-top: 10px;
}
.c_c .entry{
    overflow: hidden;
    background: #fff;
}
.c_c .entry .table_list{
    padding-top: 12px;
    height: 112px;
}
.c_c .entry .table_list .item {
    position: relative;
    float: left;
    width: 78px;
    height: 55px;
    background: #fff;
    text-align: center;
    overflow: hidden;
}
.c_c .entry .table_list .item .item_lk .lk_ico{
    position: relative;
    width: 28px;
    height: 28px;
    margin: 0 auto;
    display: block;
}
.c_c .entry .table_list .item .item_lk .lk_ico 
.service_ico_img{
    width: 28px;
    height: 28px;
    display: block;
}
.c_c .entry .table_list .item .item_lk .service_txt{
    display: block;
    height: 25px;
    line-height: 25px;
    border-bottom: 2px solid #fff;
    color: #333;
    -webkit-transition: color .15s ease;
    transition: color .15s ease;
}
/* 以下为商品页面 */
.app{
    margin-top: 30px;
    position: relative;
    z-index: 10;
}
.app .head{
    height: 65px;
}
.app .head .head_inner{
    margin: 0 auto;
    width: 1190px;
}
.head_inner ,.head_tab,.head_iner{
    margin: 0 auto;
    width: 1190px;
}
.app .head .head_inner .head_tit{
    position: relative;
    width: 150px;
    height: 45px;
    font-size: 28px;
    font-weight: 700;
    text-align: center;
    line-height: 45px;
    padding: 0 30px;
    margin: 0 auto 20px;
    overflow: hidden;
    color: #333;
}
.app .head .head_inner .head_tit::before{
    background-image: url(//storage.360buyimg.com/channel2022/jd_home/0.0.54/assets/sprite/floor_hd/sprite-retina2x.png);
    width: 25px;
    height: 20px;
    background-size: 50px 20px;
    background-position: 0 0;
    left: 0;
    content: "";
    position: absolute;
    top: 50%;
    margin-top: -10px;
}
.app .head .head_inner .head_tit::after{
    background-position: -25px 0;
    right: 0;
    background-image: url(//storage.360buyimg.com/channel2022/jd_home/0.0.54/assets/sprite/floor_hd/sprite-retina2x.png);
    background-size: 50px 20px;
    width: 25px;
    height: 20px;
    content: "";
    position: absolute;
    top: 50%;
    margin-top: -10px;
}
/*  */
.app .head_tab{
    background: #fff;
    margin-bottom: 10px;
    margin: 0 auto;
    width: 1190px;
}
.head_tab .feed_tab{
    margin: 0 auto;
    height: 60px;
    width: 1080px;
}
/*  */
/* tab_item */
.tab_item{
    position: relative;
    float: left;
    width: 180px;
    height: 60px;
    text-align: center;
    cursor: pointer;
}
/* item_title */
.item_title {
    color: #333;
    margin-top: 7px;
    font-size: 16px;
    font-weight: 700;
    line-height: 27px;
    height: 27px;
}
/* item_desc */
.item_desc {
    color: #999;
    font-size: 14px;
}
.item_desc:hover,.item_title .title_text:hover{
    color: #e1251b;
}
/* active_item_text   title_text*/
.tab_item_active .title_text{
    background: #e1251b;
    color: #fff;
    width: 70px;
    height: 27px;
    display: inline-block;
    border-radius: 50px;
    padding: 0 5px;
}
/* active_item_desc  item_desc*/
.tab_item_active .item_desc {
    color: #e1251b;
}

/* item_gap */
.item_gap {
    position: absolute;
    right: 0;
    top: 0;
    height: 40px;
    margin: 10px 0;
    width: 1px;
    background: #dfdfdf;
    background: -webkit-gradient(linear,left top,left bottom,from(white),color-stop(51%,#dfdfdf),to(white));
    background: linear-gradient(180deg,white,#dfdfdf 51%,white);
}
.iner_list{
    margin: 0 -5px;
}
.iner_list .list_item{
    background: #fff;
    overflow: hidden;
    position: relative;
    float: left;
    width: 230px;
    height: 322px;
    margin: 0 5px 10px;
}
.iner_list .list_item .item_lk{
    display: inline-block;
    width: 100%;
    height: 100%;
}
.item_lk .img{
    display: block;
    -webkit-transition: opacity .2s ease;
    transition: opacity .2s ease;
    width: 230px;
    height: 230px;
    margin: 0 auto 5px;
}
.item_lk .info{
    clear: both;
    line-height: 24px;
    padding: 0 20px;
    height: 65px;
}
.item_lk .info .name{
    height: 48px;
    font-size: 14px;
    line-height: 24px;
    text-align: left;
    color: #666;
    -webkit-transition: color .2s ease;
    transition: color .2s ease;
    word-break: break-all;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.item_lk .info .name .self{
    background-color: #e1251b;
    border-radius: 2px;
    color: #fff;
    padding: 0 5px;
    margin-right: 4px;
    line-height: 16px;
    height: 16px;
    font-size: 12px;
    display: inline-block;
    font-family: Helvetica Neue,Hiragino Sans GB,SimSun,serif;
}